<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="StoreKeeper\StoreKeeper\Api\Webhook\WebhookInterface" type="StoreKeeper\StoreKeeper\Api\Webhook\Webhook"/>
    <preference for="Magento\InventorySourceDeductionApi\Model\SourceDeductionServiceInterface" type="StoreKeeper\StoreKeeper\Model\SourceDeductionService"/>

    <type name="StoreKeeper\StoreKeeper\Api\Webhook\Webhook">
        <arguments>
            <argument name="logger" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="StoreKeeper\StoreKeeper\Model\Consumer">
        <arguments>
            <argument name="logger" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="StoreKeeper\StoreKeeper\Console\Command\Sync\Categories">
        <arguments>
            <argument name="logger" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="StoreKeeper\StoreKeeper\Console\Command\Sync\Customers">
        <arguments>
            <argument name="logger" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="StoreKeeper\StoreKeeper\Console\Command\Sync\Orders">
        <arguments>
            <argument name="logger" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="StoreKeeper\StoreKeeper\Console\Command\Sync\Products">
        <arguments>
            <argument name="logger" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="storeKeepeerSyncProducts" xsi:type="object">StoreKeeper\StoreKeeper\Console\Command\Sync\Products</item>
                <item name="storeKeepeerSyncCategories" xsi:type="object">StoreKeeper\StoreKeeper\Console\Command\Sync\Categories</item>
                <item name="storeKeepeerSyncOrders" xsi:type="object">StoreKeeper\StoreKeeper\Console\Command\Sync\Orders</item>
                <item name="storeKeepeerSyncCustomers" xsi:type="object">StoreKeeper\StoreKeeper\Console\Command\Sync\Customers</item>
            </argument>
        </arguments>
    </type>

   <type name="StoreKeeper\StoreKeeper\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <virtualType name="StoreKeeper\StoreKeeper\Logger\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">StoreKeeper_StoreKeeper_Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">StoreKeeper\StoreKeeper\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
</config>
