<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="checkout_submit_all_after">
       <observer name="storekeeper_checkout_submit_all_after" instance="StoreKeeper\StoreKeeper\Observers\CheckoutSubmitAllAfterObserver" />
   </event>
   <event name="sales_order_invoice_pay">
        <observer name="storekeeper_sales_order_invoice_pay" instance="StoreKeeper\StoreKeeper\Observers\SalesOrderInvoicePayObserver" />
   </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="storekeeper_sales_order_creditmemo_save_after" instance="StoreKeeper\StoreKeeper\Observers\SalesOrderCreditMemoSaveAfterObserver"/>
    </event>
    <event name="sales_order_save_before">
        <observer name="storekeeper_sales_order_save_before" instance="StoreKeeper\StoreKeeper\Observers\SalesOrderSaveBeforeObserver"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="inventory_sales_source_deduction_processor" disabled="true"/>
        <observer name="inventory_sales_source_deduction_processor_rewrite" instance="StoreKeeper\StoreKeeper\Observers\SourceDeductionProcessor"/>
    </event>
</config>
