<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="storekeeper_payment" frontName="storekeeper_payment">
            <module name="StoreKeeper_StoreKeeper" />
        </route>
    </router>
</config>
