<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="storekeeper" frontName="storekeeper">
            <module name="StoreKeeper_StoreKeeper" before="Magento_Backend"/>
        </route>
        <route frontName="storekeeper_storekeeper" id="storekeeper_storekeeper">
            <module before="Magento_Backend" name="StoreKeeper_StoreKeeper"/>
        </route>
    </router>
</config>
